@use "./colors" as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
button {
  font-family: "Lexend Deca", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: $Verylightgray;
}
